version : '3.7'

services:

  db:
    container_name: img-db
    image: imgsvc_db
    environment:
      - MYSQL_USER=img_user
      - MYSQL_PASSWORD=12345678
      - MYSQL_DATABASE=img_db
      - MYSQL_ROOT_PASSWORD=12345678
    ports:
      - 3306:3306
    tty: true
    networks:
      - imgsvc-net
    # restart: always
    healthcheck:
      test: "mysqladmin ping -p$$MYSQL_ROOT_PASSWORD || exit 1"
      retries: 2
      timeout: 10s
      interval: 5s
      start_period: 10s


  img-svc:
    container_name: img-svc
    build: 
      context: .
    environment:
      - AWS_ACCESS_KEY_ID_TES=<AccessKeyId>
      - AWS_SECRET_ACCESS_KEY_TEST=<SecretAccessKey>
      - AWS_DEFAULT_REGION_TEST=ap-southeast-1

    depends_on:
      db: 
        condition: service_healthy
    ports:
      - 8080:8080
    networks:
      - imgsvc-net



networks:
  imgsvc-net:
    name: imgsvc-net
    driver: bridge

